<h1>Cypress 14405</h1>

<p>This is an example app for reproducing issue 14405.</p>

<p *ngIf="hint" class="hint">Minimize the test runner window and wait 10s to see the test fail!</p>

<button pButton type="button" (click)="opened = true" label="Open test dialog"></button>

<p *ngIf="submitted" style="margin-top:1em"><b>Your selection has been submitted.</b></p>

<p-dialog header="This is a test dialog" [(visible)]="opened" appendTo="body">

  <p>
    <i class="pi pi-info-circle"></i>
    Please select a city.
  </p>

  <div style="width:16em;margin-top:1em">
  
      <div class="p-grid">
   
      <div class="p-col-12">
        <p-dropdown [options]="options" [editable]="true"
        [(ngModel)]="selection" appendTo="body"></p-dropdown>
      </div>

      <div class="p-col-12" style="margin-top:1em">
        <button pButton type="submit" label="Submit" (click)="submit()"></button> &nbsp;
        <button pButton type="button" label="Cancel"></button>
      </div>
    </div>

  </div>
  
</p-dialog>